<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      body {
        background-image: url("https://media.istockphoto.com/id/1189078546/photo/traditional-christmas-drink-eggnog-with-cinnamon.jpg?s=612x612&w=0&k=20&c=NNU2J03jHOCOLmvmtOSmNUbNw8spm7G7BQ1DaJj4-W4=");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
    </style>
  </head>
  <body id="eggnog">
    <nav>
      <button></button>
      <button></button>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
