<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      body {
        background-image: url("https://media.istockphoto.com/id/1421376383/photo/gingerbread-christmas-cookies-in-christmas-home-atmosphere.jpg?s=612x612&w=0&k=20&c=oroT7tHz5zi8IcX1pC3l27kgwpyem4pLxw2apq-I1Eg=");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: azure;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
    </style>
  </head>
  <body id="ginger">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
